{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Lista de Comentarios sin Revisar</h1>

    <table class="records_list table">
        <thead>
            <tr>
                <th>Correo</th>
                <th>Nombre</th>
                <th>Comentario</th>
                <th>Fecha</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for entity in entities  if entity.estado == 0%}
                <tr>
                    <td>{{ entity.correo }}</td>
                    <td>{{ entity.nombre }}</td>
                    <td>{{ entity.comentario }}</td>
                    <td>{% if entity.fecha %}{{ entity.fecha|date('d-m-Y H:i:s') }}{% endif %}</td>
                    <td>
                      
                                <a href="{{ path('comentario_show', { 'id': entity.id }) }}">Revisar</a>
                          
                          {#  <li>
                                <a href="{{ path('comentario_edit', { 'id': entity.id }) }}">edit</a>
                            </li>#}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
