{% extends '::base.html.twig' %}
{% trans_default_domain "RUGCProgramacionCatarsisBundle" %}

{% block body -%}

    <h1>{{ "form.Titulo.titulo_Mostrar_Comentario"|trans }}</h1>

    <form action="{{ path('comentario_update', { 'id': entity.id }) }}" method="POST">
        <table class="record_properties">
            <tbody>
                <tr>
                    <th>{{'form.Comentario.correo'|trans}}</th>
                    <td>{{ entity.correo }}</td>
                </tr>
                <tr>
                    <th>{{'form.Comentario.nombre'|trans}}</th>
                    <td>{{ entity.nombre }}</td>
                </tr>
                <tr>
                    <th>{{'form.Comentario.comentario'|trans}}</th>
                    <td>{{ entity.comentario }}</td>
                </tr>
                <tr>
                    <th>{{'form.Comentario.estado'|trans}}</th>
                    <td>{{'form.Comentario.sinRevisar'|trans}}</td>
                </tr>
                <tr>
                    <th>{{'form.Comentario.fecha'|trans}}</th>
                    <td>{{ entity.fecha|date('d-m-Y H:i:s') }}</td>
                </tr>
            </tbody>
        </table>
        <input type="submit"   class="btnDer" value="{{'form.submit_publicar' | trans}}" />
    </form>

    {{ form(delete_form) }}

{% endblock %}
