{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Comentario</h1>
    <form action="{{ path('comentario_update', { 'id': entity.id }) }}" method="POST">
        <table class="record_properties">
            <tbody>
                <tr>
                    <th>Correo</th>
                    <td>{{ entity.correo }}</td>
                </tr>
                <tr>
                    <th>Nombre</th>
                    <td>{{ entity.nombre }}</td>
                </tr>
                <tr>
                    <th>Comentario</th>
                    <td>{{ entity.comentario }}</td>
                </tr>
                <tr>
                    <th>Estado</th>
                    <td>
                        {% if entity.estado == 0%}
                            Sin revisar
                        {%else%}
                            Revisado
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>Fecha</th>
                    <td>{{ entity.fecha|date('d-m-Y H:i:s') }}</td>
                </tr>
            </tbody>
        </table>



        <input type="submit"   class="btnDer" value="Publicar" />

    </form>

    {{ form(delete_form) }}

{% endblock %}
