<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Grupo Catarsis{% endblock %}</title>
        {% block stylesheets %}
            {% stylesheets '@RUGCProgramacionCatarsisBundle/Resources/public/css/*' filter='cssrewrite' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}

            {%javascripts '@RUGCProgramacionCatarsisBundle/Resources/public/JS/*' %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />   
    </head>

    <body>
        <div id="wrapper">
            <div class="divUser">
                <form action="{{path ('programacion_locale')}}" method="POST">
                    <input type="submit" name="btnEspanol" style="float: left;" value="." class="btnEsp"/>
                    
                </form>
                     <form action="{{path ('programacion_locale')}}" method="POST">
                   
                         <input type="submit" name="btnIngles" style="float: left;" value="." class="btnIng"/>
                </form>
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

                    {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                    <a href="{{ path('fos_user_security_logout') }}">
                        {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                    </a>

                {% endif %}
                
            </div>

            <div id="banner">

                {% image '@RUGCProgramacionCatarsisBundle/Resources/public/images/banner.jpg' %}
                <img class="er s banner" src="{{ asset_url }}" alt="banner"/>
                {% endimage %}
            </div> <!-- FIN DEL BANNER -->

            {{render_hinclude( controller('RUGCProgramacionCatarsisBundle:OpcionesMenu:index') )}}

            <div id="main">        	
                <div id="info2">
                    {% block body %} 

                    {% endblock %}
                </div> <!-- FIN DEL INFO -->
                <div style="clear:both;"></div>
            </div> <!-- FIN DEL MAIN -->


            {% block footer %}
                <div id="footer">
                    <div id="izq_bar">
                        &copy; 2014 Grupo Catarsis
                    </div>

                    <div id="der_bar">
                        Desarrollado por EPROM
                    </div>
                </div>
            {% endblock %}
        </div>
    </body>
</html>
