<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Grupo Catarsis{% endblock %}</title>
        {% block stylesheets %}
            {% stylesheets '@RUGCProgramacionCatarsisBundle/Resources/public/css/*' filter='cssrewrite' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}

            {%javascripts '@RUGCProgramacionCatarsisBundle/Resources/public/JS/*' %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    <div class="divBanner">        
    </div>

    <div id="menubar">
        <ul id="menu-horizontal">
            <li><a href="{{path('conozcanos')}}" title="Texto">CONOZCANOS</a></li>
            <li><a href="" title="Texto">PROGRAMACIÓN:RADIO/TV</a>
                <ul>  
                    <li><a href="{{path('programacion')}}" title="Texto">MES ACTUAL</a></li>
                    <li><a href=""> BUSACR</a></li>
                    <li><a href ="{{path('programacion_selectMonth')}}" title = "Texto">EDITAR</a></li>                        
                </ul>
            </li>
            <li><a href="{{path('definiciones')}}" title="Texto">DEFINICIONES</a></li>
            <li><a href="{{path('grupos')}}" title="Texto">GRUPOS NACIONALES</a></li>
            <li><a href="{{path('generaciones')}}" title="Texto">GENERACIONES CATÁRTICAS</a></li>
            <li><a href="{{path('grupos')}}" title="Texto">NOTICIAS</a></li>
            <li><a href="{{path('grupos')}}" title="Texto">ENLACES RECOMENDADOS</a></li>
        </ul>
    </div>
</head>

<body>
    <div class="contenedor">
        {% block body %}           
        {% endblock %}

        {% block javascripts %}
        {% endblock %}

        {% block footer %}
            <div class="footer">                
            </div>
        {% endblock %}
    </div>
</body>

</html>
