{% extends '::base.html.twig' %}

{% block body -%}
    <script type="text/javascript" >
        function validar() {
            var titulo = $('#txtTitulo').val();
            var obra = $('#txtObra').val();
            if (titulo === "" && obra === "") {
                $('#error').text("Debe ingresar algún criterio de búsqueda");
                return  false;
            }
            else {
                return true;
            }
        }
    </script>
    <form method="POST" action="{{path("programacion_search")}}" onsubmit="return validar()">
        <label>Título/Artista: </label>
        <input class="txt" type="text" name="txtTitulo" id="txtTitulo" value="{{titulo}}"/>
        <label>Nombre de la Obra: </label>
        <input class="txt" type="text" name="txtObra" id="txtObra" value="{{obra}}" />
        <input class="btnDer" type="submit" name="btnBuscar" value="Buscar"/>
        {% if mensaje == "" %}
            <table class="records_list table">
                <thead>
                    <tr>
                        <th>Fecha</th>
                        <th>Título</th>
                        <th>Obra</th>
                        <th>Descripción</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>


                    {% for programacion in programaciones %}
                        <tr>
                            <td>{% if programacion.fecha %}{{ programacion.fecha|date('d-m-Y') }}{% endif %}</td>
                            <td>{{ programacion.titulo }}</td>
                            <td>{{ programacion.obra }}</td>
                            <td>{{ programacion.descripcion }}</td>
                            <td>
                                <a href="{{ path('programacion_seleccionada', { 'fecha': programacion.fecha|date('Y-m-d') }) }}">Ver Programación</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {%else%}
            <div class="mensaje">
                <div class="validaciones"> 
                    <ul><li id="error"></li></ul> 
                </div>
                <p>{{mensaje}}</p>
            </div>
        {% endif%}
    </form>
{% endblock %}