{% extends '::base.html.twig' %}

{% trans_default_domain "RUGCProgramacionCatarsisBundle" %}

{% block body -%}
    <script type="text/javascript" >
        function validar() {
            var titulo = $('#txtTitulo').val();
            var obra = $('#txtObra').val();
            var idioma = $('#idioma').val();
            if (titulo === "" && obra === "") {
                if (idioma === 'es') {
                       $('#error').text("Debe ingresar algún criterio de búsqueda");
                }
                else{
                    $('#error').text("You must enter a search criterion");
                }
             
                return  false;
            }
            else {
                return true;
            }
        }
    </script>

    <h1>{{ "form.Titulo.titulo_Busqueda_Programacion"|trans }}</h1>

    <form method="POST" action="{{path("programacion_search")}}" onsubmit="return validar()">
        <input   type="hidden" id="idioma" value="{{ app.request.locale }}" />
        <label>{{'form.Programacion.titulo'|trans}} </label>
        <input class="txt" type="text" name="txtTitulo" id="txtTitulo" value="{{titulo}}"/>
        <label>{{'form.Programacion.obra'|trans}} </label>
        <input class="txt" type="text" name="txtObra" id="txtObra" value="{{obra}}" />
        <input class="btnDer" type="submit" name="btnBuscar" value="{{'form.submit_buscar'|trans}}"/>
        {% if mensaje == "" %}
            <table class="records_list table">
                <thead>
                    <tr>
                        <th>{{'form.Programacion.fecha'|trans}}</th>
                        <th>{{'form.Programacion.titulo'|trans}}</th>
                        <th>{{'form.Programacion.obra'|trans}}</th>
                        <th>{{'form.Programacion.descripcion'|trans}}</th>
                        <th>{{'form.tabla_accion'|trans}}</th>
                    </tr>
                </thead>
                <tbody>


                    {% for programacion in programaciones %}
                        <tr>
                            <td>{% if programacion.fecha %}{{ programacion.fecha|date('d-m-Y') }}{% endif %}</td>
                            <td>{{ programacion.titulo }}</td>
                            <td>{{ programacion.obra }}</td>
                            
                            
                            {% if  app.request.locale == 'es' %}            
                                <td>{{ programacion.descripciones }}</td>
                            {% else %}
                                <td>{{ programacion.descripcionen }}</td>
                            {% endif%}  
                            <td>
                                <a href="{{ path('programacion_seleccionada', { 'fecha': programacion.fecha|date('Y-m-d') }) }}">{{'form.submit_ver_programacion'|trans}}</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {%else%}
            <div class="mensaje">
                <div class="validaciones"> 
                    <ul><li id="error"></li></ul> 
                </div>
                <p>{{mensaje|trans}}</p>
            </div>
        {% endif%}
    </form>
{% endblock %}