{% extends '::base.html.twig' %}

{% block body -%}    
    <h1>PROGRAMACIÓN RADIO Y TELEVISION</h1>

    <div class="fechaProgramacion">
        <h1>{{fecha | upper}}</h1>
    </div>

    <div class="divEncabezadoRadio">
        <p> {{ radio.texto | raw}}</p>
        {% if is_granted('ROLE_ADMIN') %}
            <a class="link" href="{{ path('encabezado_edit', { 'id': radio.id }) }}">
                Editar Contenido Radio
            </a>
        {% endif %}
    </div>



    <div class="divEncabezadoTV">
        <p>{{ tv.texto | raw}}</p>
        {% if is_granted('ROLE_ADMIN') %}
            <a class="link" href="{{ path('encabezado_edit', { 'id': tv.id }) }}">
                Editar Contenido TV
            </a>
        {% endif %}
    </div>
    <div style="clear: both"></div>

    <div class="divRadio">
        {% for entity in entities  if entity.tipo== 1%}
            <center>
                <div class="programacion">
                    <h2>{% if entity.fecha %}{{ entity.fecha|date('d-M-Y') }}{% endif %}</h2>
                    &nbsp;
                    <p>
                        <label class="tiulo">{{ entity.titulo }}</label><br>

                        {%if entity.obra%}
                            <label  class="obra" >"{{ entity.obra }}"</label><br>
                        {% endif %}
                        <label class="descripcion">
                            {{ entity.descripcion }}
                        </label><br>
                        {%if entity.path %}
                            <img style="margin-top: 10px;" src="{{asset('uploads/documents/'~entity.path)}}" width="100" height="100"/>
                        {% endif%}
                        {%if entity.enlace %}
                            <br> <label class="descripcion"><a href="http://{{entity.enlace}}" target="_blank">{{entity.enlace}}</a></label>
                            {% endif %}
                        <br> <label class="descripcion"> <a style="word-wrap: break-word;" href="{{ path('programacion_show', { 'id': entity.id }) }}"> Ver comentarios</a></label>


                    </p>
                </div>
            </center>

        {% endfor %}
    </div>
    <div class="divTV">

        {% for entity in entities  if entity.tipo== 2%}

            <center>
                <div class="programacion">
                    <h2>{% if entity.fecha %}{{ entity.fecha|date('d-M-Y') }}{% endif %}</h2>
                    &nbsp;
                    <p>
                        <label class="tiulo">{{ entity.titulo }}</label><br>

                        {%if entity.obra%}
                            <label  class="obra" >"{{ entity.obra }}"</label><br>
                        {% endif %}
                        <label class="descripcion">
                            {{ entity.descripcion }}
                        </label><br>
                        {%if entity.path %}
                            <img style="margin-top: 10px;" src="{{asset('uploads/documents/'~entity.path)}}" width="100" height="100"/>
                        {% endif%}
                        {%if entity.enlace %}
                            <br> <label class="descripcion"> <a href="http://{{entity.enlace}}" target="_blank">{{entity.enlace}}</a></label>
                            {% endif %}
                        <br> <label class="descripcion"> <a style="word-wrap: break-word;" href="{{ path('programacion_show', { 'id': entity.id }) }}"> Ver comentarios</a></label>
                    </p>
                </div>
            </center>

        {% endfor %}
    </div>



{% endblock %}
