{% extends '::base.html.twig' %}
{% trans_default_domain "RUGCProgramacionCatarsisBundle" %}

{% block body -%}  

    <script type="text/javascript" >
        function validar() {
            var mes = $('#txtDate').val();
            var idioma = $('#idioma').val();
            if (mes === "") {
                if (idioma === 'es') {
                    $('#error').text("Ingrese el mes");
                } else {
                    $('#error').text("Enter the date");
                }

                return  false;
            }
            else {
                return true;
            }
        {#            break;#}
            }
    </script>
    <div class="divBusqueda">

        {% if is_granted('ROLE_ADMIN') %}
            <form action="{{path('programacion_pdf')}}" method="POST" >

                <input type ="submit" name="btnPDF" style="float: left;" class="botonAsLink" value="Generar PDF"/>
                <input   type="hidden" name="fechaProgramacion" value="{{ fecha}}" />

            </form>
        {% endif %} 
        <form action="{{path('programacion_searchMonth')}}" method="POST"    onsubmit="return validar()">
            <input type ="submit" name="btnBuscar" class="btnBuscar" value=""/>
            <div class="validaciones"> 
                <ul><li id="error"></li></ul>
                <input type='text' class="txt" id='txtDate' name='fecha' readonly="" placeholder="{{'form.placeholder_buscar'|trans}}"/>
            </div>
        </form>
    </div>
    <input   type="hidden" id="idioma" value="{{ app.request.locale }}" />
    <h1>{{ "form.Titulo.titulo_Programacion"|trans | upper}}</h1>

    <div class="fechaProgramacion">
        <h2>{{fecha | upper}}</h2>
    </div>

    <div class="divEncabezadoRadio">
        {% if  app.request.locale == 'es' %} 
            <p> {{ radio.textoes | trans | raw}}</p>
        {% else %}
            <p> {{ radio.textoen | trans | raw}}</p>
        {% endif%}

        {% if is_granted('ROLE_ADMIN') %}
            <a class="link" href="{{ path('encabezado_edit', { 'id': radio.id }) }}">
                {{'form.submit_editar_contenido'|trans}}
            </a>
        {% endif %}
    </div>

    <div class="divEncabezadoTV">

        {% if  app.request.locale == 'es' %} 
            <p> {{ tv.textoes | trans | raw}}</p>
        {% else %}
            <p> {{ tv.textoen | trans | raw}}</p>
        {% endif%}

        {% if is_granted('ROLE_ADMIN') %}
            <a class="link" href="{{ path('encabezado_edit', { 'id': tv.id }) }}">
                {{'form.submit_editar_contenido'|trans}}
            </a>
        {% endif %}
    </div>
    <div style="clear: both"></div>

    {% if entities %}
        <div class="divRadio">
            {% for entity in entities  if entity.tipo== 1%}
                <center>
                    <div class="programacion">
                        <h2>{% if entity.fecha %}{{ entity.fecha|date('d-m-Y') }}{% endif %}</h2>
                        <p>
                            <label class="tiulo">{{ entity.titulo }}</label><br>

                            {%if entity.obra%}
                                <label  class="obra" >"{{ entity.obra }}"</label><br>
                            {% endif %}
                            <label class="descripcion">
                                {% if  app.request.locale == 'es' %}            
                                    {{ entity.descripciones }}
                                {% else %}
                                    {{ entity.descripcionen }}
                                {% endif%}
                            </label><br>
                            {%if entity.path %}
                                <img style="margin-top: 10px;" src="{{asset('uploads/documents/'~entity.path)}}" width="100" height="100"/>
                            {% endif%}
                            {%if entity.enlace %}
                                <br> <label class="descripcion"><a style="word-wrap: break-word;" href="http://{{entity.enlace}}" target="_blank">{{entity.enlace}}</a></label>
                                {% endif %}
                            <br> <a class="verComentarios" style="word-wrap: break-word;" href="{{ path('programacion_show', { 'id': entity.id }) }}"> {{'form.submit_ver_comentarios'|trans}}</a>
                        </p>
                    </div>
                </center>
            {% endfor %}
        </div>
        <div class="divTV">

            {% for entity in entities  if entity.tipo== 2%}
                <center>
                    <div class="programacion">
                        <h2>{% if entity.fecha %}{{ entity.fecha|date('d-m-Y') }}{% endif %}</h2>
                        <p>
                            <label class="tiulo">{{ entity.titulo }}</label><br>
                            {%if entity.obra%}
                                <label  class="obra" >"{{ entity.obra }}"</label><br>
                            {% endif %}
                            <label class="descripcion">
                                {% if  app.request.locale == 'es' %}            
                                    {{ entity.descripciones }}
                                {% else %}
                                    {{ entity.descripcionen }}
                                {% endif%}
                            </label><br>
                            {%if entity.path %}
                                <img style="margin-top: 10px;" src="{{asset('uploads/documents/'~entity.path)}}" width="100" height="100"/>
                            {% endif%}
                            {%if entity.enlace %}
                                <br> <label class="descripcion"> <a style="word-wrap: break-word;" href="http://{{entity.enlace}}" target="_blank">{{entity.enlace}}</a></label>
                                {% endif %}
                            <br> <a class="verComentarios" style="word-wrap: break-word;" href="{{ path('programacion_show', { 'id': entity.id }) }}"> {{'form.submit_ver_comentarios'|trans}}</a>
                        </p>
                    </div>
                </center>
            {% endfor %}
        </div>
    {% else %}                
        <div class="mensaje">
            <p>{{'form.programacion.not'|trans}}</p>
        </div>
    {% endif %}

    <div style="clear: both"></div>

    <form action="{{path('programacion_secuencial')}}" method="POST" >
        <div class="divPaginacion">
            <input type="hidden" name="fecha" value="{{fecha}}"/>
            <input type="submit" class="enlaceIzq" value="{{'form.submit_anterior'|trans}}" name="btnAnterior" />
            <input type="submit" class="enlaceDer" value="{{'form.submit_siguiente'|trans}}" name="btnSiguiente"/>
        </div>
    </form>

{% endblock %}
