{% extends '::base.html.twig' %}
{% trans_default_domain "RUGCProgramacionCatarsisBundle" %}

{% block body -%}
    <h1>{{ "form.Titulo.titulo_Crear_Programacion"|trans }} {{fecha}}</h1>
    <form action="{{ path('programacion_create')}}" method="POST" {{form_enctype(form)}}>
        <input   type="hidden" id="idioma" value="{{ app.request.locale }}" />
        <div class="validaciones">
            <input type="hidden" name="fecha" value="{{fecha}}"/>
            {{ form(form) }}
        </div>
    </form>

    <table class="records_list table">
        <thead>
            <tr>
                <th>{{'form.Programacion.fecha'|trans}}</th>
                <th>{{'form.Programacion.titulo'|trans}}</th>
                <th>{{'form.Programacion.obra'|trans}}</th>
                <th>{{'form.Programacion.descripcion'|trans}}</th>

                <th>{{'form.tabla_accion'|trans}}</th>
            </tr>
        </thead>
        <tbody>
            {% for programacion in programaciones %}
                <tr>
                    <td>{% if programacion.fecha %}{{ programacion.fecha|date('d-m-Y') }}{% endif %}</td>
                    <td>{{ programacion.titulo }}</td>
                    <td>{{ programacion.obra }}</td>
                    <td>{{ programacion.descripcion }}</td>
                    <td>
                        <a style="margin-right: 20px;" href="{{ path('programacion_delete', { 'id': programacion.id }) }}">{{'form.submit_eliminar'|trans}}</a>
                        <a href="{{ path('programacion_edit', { 'id': programacion.id }) }}">{{'form.submit_editar'|trans}}</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
