{% extends '::base.html.twig' %}

{% block body -%}
    <div class="divTodo">
        <div class="divProgramacionComentario">            
            <table class="record_properties">
                <tbody>
                    {#<tr>
                        <th>Tipo</th>
                        <td>{{ entity.tipo }}</td>
                    </tr>#}
                <label>{{ entity.fecha|date('d-m-Y') }}</label>
                {% if entity.path %}
                    <img src="{{asset('uploads/documents/'~entity.path)}}"/>
                {% endif %}

                <tr>
                    <th>Título</th>
                    <td>{{ entity.titulo }}</td>
                </tr>
                <tr>
                    <th>Obra</th>
                    <td>{{ entity.obra }}</td>
                </tr>
                <tr>
                    <th>Descripción</th>
                    <td>{{ entity.descripcion }}</td>
                </tr>
                <tr>
                    {% if entity.enlace %}
                        <th>Enlace</th>
                        <td><a href="{{entity.enlace }}">{{ entity.enlace }}</a></td>
                        {% endif %}
                </tr>
                </tbody>
            </table>
        </div>

        <div class="divFormComentario">
            <div class="validaciones">
                <form action="{{path('comentario_create')}}" method="POST">
                    <input type="hidden" name="idProgramacion" value="{{entity.id}}"
                           {{form(form)}}  
                </form>
            </div>
        </div>

        <h1>Comentarios</h1>
        {% for comentario in entity.comentarios if comentario.estado == 1 %}
            <div class="divComentario">
                <p>Por <label>{{comentario.nombre}}</label> el {{comentario.fecha|date('d-m-Y')}}</p>
                {{comentario.comentario}}
                <br>
            </div>
        {% endfor %}
    </div>
{% endblock %}
