{% extends '::base.html.twig' %}
{% trans_default_domain "RUGCProgramacionCatarsisBundle" %}

{% block body -%}
    <div class="divTodo">
        <div class="divProgramacionComentario">            
            <table style="width: 300px;" class="record_properties">
                <tbody >
                    {#<tr>
                        <th>Tipo</th>
                        <td>{{ entity.tipo }}</td>
                    </tr>#}
                <label>{{ entity.fecha|date('d-m-Y') }}</label>
                {% if entity.path %}
                    <img src="{{asset('uploads/documents/'~entity.path)}}"/>
                {% endif %}

                <tr>
                    <th>{{'form.Programacion.titulo'|trans}}</th>
                    <td>{{ entity.titulo }}</td>
                </tr>
                <tr>
                    <th>{{'form.Programacion.obra'|trans}}</th>
                    <td>{{ entity.obra }}</td>
                </tr>
                <tr>
                    <th>{{'form.Programacion.descripcion'|trans}}</th>
                        {% if  app.request.locale == 'es' %}                                  
                        <td>{{ entity.descripciones }}</td>
                    {% else %}                      
                        <td>{{ entity.descripcionen }}</td>
                    {% endif%}

                </tr>
                <tr>
                    {% if entity.enlace %}
                        <th>{{'form.Programacion.enlace'|trans}}</th>
                        <td><div style="width:450px;"><a  style="word-wrap: break-word;" href="http://{{entity.enlace }}" target="_blank">{{ entity.enlace }}</a></div></td>
                            {% endif %}
                </tr>
                </tbody>
            </table>
        </div>

        <div class="divFormComentario">
            <div class="validaciones">
                <form action="{{path('comentario_create')}}" method="POST">
                    <input type="hidden" name="idProgramacion" value="{{entity.id}}" />
                    {% if emailError != "" %}
                        <ul>
                            <li style="margin-left: 125px;">
                                {{emailError}}
                            </li>
                        </ul>
                    {% endif %}                                             
                    {{form(form)}}  
                </form>
            </div>
        </div>

        <h1>{{'form.Titulo.titulo_Comentarios' | trans}}</h1> 
        {% for comentario in listaComentarios if comentario.estado == 1 %}
            <div class="divComentario">
                <p><label>{{comentario.nombre}}</label> {{comentario.fecha|date('d-m-Y')}}</p>
                {{comentario.comentario}}
                <br>
            </div>
        {% endfor %}
        
        
        
    </div>
        <div style="clear: both"></div>
        
        <div class="paginacion">
            {{ knp_pagination_render(listaComentarios) }}
        </div>
{% endblock %}
