{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Programación</h1>

    <table class="record_properties">
        <tbody>

            <tr>
                <th>Tipo</th>
                <td>{{ entity.tipo }}</td>
            </tr>
            <tr>
                <th>Fecha</th>
                <td>{{ entity.fecha|date('d-m-Y') }}</td>
            </tr>
            <tr>
                <th>Título</th>
                <td>{{ entity.titulo }}</td>
            </tr>
            <tr>
                <th>Obra</th>
                <td>{{ entity.obra }}</td>
            </tr>
            <tr>
                <th>Descripción</th>
                <td>{{ entity.descripcion }}</td>
            </tr>
            <tr>

                {% if entity.path %}
                    <th>Imagen</th>

                    <td>
                        <img src="{{asset('uploads/documents/'~entity.path)}} " width="100" height="100"  />
                    </td>
                {% endif %}

            </tr>
            <tr>
                {% if entity.enlace %}
                    <th>Enlace</th>
                    <td><a href="{{entity.enlace }}">{{ entity.enlace }}</a></td>
                    {% endif %}

            </tr>
        </tbody>
    </table>
                    
    <form action="{{path('comentario_create')}}" method="POST">
        <input type="hidden" name="idProgramacion" value="{{entity.id}}"
        {{form(form)}}  
    </form>
    
    <table>
        {% for comentario in entity.comentarios if comentario.estado == 1 %}
            <tr>   <td>{{comentario.nombre}}</td><td> {{comentario.comentario}}</td></tr>

        {% endfor %} 
    </table>

    {# <a class="enlace" href="{{ path('programacion_edit', { 'id': entity.id }) }}">
         Editar
     </a>#}


{% endblock %}
