{% extends '::base.html.twig' %}
{% trans_default_domain "RUGCProgramacionCatarsisBundle" %}

{% block body -%}
    <h1>{{ "form.Titulo.titulo_Editar_Contenido"|trans }}</h1>

    <form action="{{path('contenido_update',{'id':entity.opcionMenu.id})}}" method="POST">
        <div class="validaciones">
            {{ form_start(edit_form) }}
            {{ form_errors(edit_form) }}
            <div class="lblGrande">
                {{form_row(edit_form.opcionMenu.nombreOpcionEs)}}
            </div>
            <div class="lblGrande">
                {{form_row(edit_form.opcionMenu.nombreOpcionEn)}}
                {#            {{form_row(edit_form.opcionMenu.ruta)}} #}
            </div>
            <div class="lblGrande">
                {{form_row(edit_form.opcionMenu.prioridad)}}
            </div>
            <div class="lblGrande">
                {{form_row(edit_form.opcionMenu.menuPrincipal)}}
            </div>

            <div> <label>{{'form.contenido_es'|trans}}</label></div>
            <div class="areaTexto">
                {{form_row(edit_form.textoes)}}
            </div>
            <div><label>{{'form.contenido_en'|trans}}</label></div>
            <div class="areaTexto">
                {{form_row(edit_form.textoen)}}
            </div>

            {{ form(edit_form)}}

            {{ tinymce_init() }}
            {{ form_end(edit_form) }}
        </div>
    </form>

{% endblock %}
