{% extends '::base.html.twig' %}
{% trans_default_domain "RUGCProgramacionCatarsisBundle" %}

{% block body -%}

    <h1>{{ "form.Titulo.titulo_Listar_Opciones_Menu"|trans }}</h1>

    <table class="records_list table">
        <thead>
            <tr>
                <th>{{'form.tabla_opciones_menu'|trans}}</th>
                <th>{{'form.tabla_prioridad'|trans}}</th>
                <th>{{'form.tabla_accion'|trans}}</th>
            </tr>
        </thead>
        <tbody>
            {% for entity in entities %}
                <tr>
                    <td>{{ entity.nombreOpcionEs }}</td>
                    <td>{{ entity.prioridad }}</td>
                    <td>
                        <a href="{{ path('contenido_confirmar_delete', { 'id': entity.id }) }}">{{'form.submit_editar'|trans}}</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="paginacion">
        {{ knp_pagination_render(entities) }}
    </div>

{% endblock %}
