{% extends '::base.html.twig' %}
{% trans_default_domain "RUGCProgramacionCatarsisBundle" %}

{% block body -%}
    <h1>{{ "form.Titulo.titulo_Crear_Contenido"|trans }}</h1>

    <form action="{{path('contenido_create')}}" method="POST">
        <div class="validaciones">
            {{ form_start(form) }}
            {{ form_errors(form) }}
            <div class="lblGrande">
                {{form_row(form.opcionMenu.nombreOpcionEs)}}
            </div>
            <div class="lblGrande">
                {{form_row(form.opcionMenu.nombreOpcionEn)}}
            </div>
            <div class="lblGrande">
                {#            {{form_row(form.opcionMenu.ruta)}} #}
                {{form_row(form.opcionMenu.prioridad)}}
            </div>
            <div class="lblGrande">
                {{form_row(form.opcionMenu.menuPrincipal)}}
            </div>
            <div> <label>{{'form.contenido_es'|trans}}</label></div>
            <div class="areaTexto">
                {{form_row(form.textoes)}}
            </div>
            <div><label>{{'form.contenido_en'|trans}}</label></div>
            <div class="areaTexto">
                {{form_row(form.textoen)}}
            </div>
            {{ form(form)}}

            {{ tinymce_init() }}
            {{ form_end(form) }}
        </div>
    </form>

{% endblock %}
