{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Crear Contenido</h1>
    <div class="validaciones">
        <form action="{{path('contenido_create')}}" method="POST">
            {{ form_start(form) }}
            {{ form_errors(form) }}
            {{form_row(form.opcionMenu.nombreOpcion)}}
            {#            {{form_row(form.opcionMenu.ruta)}} #}
            {{form_row(form.opcionMenu.prioridad)}}
            {{form_row(form.opcionMenu.menuPrincipal)}}

            <div class="areaTexto">
                {{form_row(form.texto)}}
            </div>
            {{ form(form)}}

            {{ tinymce_init() }}
            {{ form_end(form) }}
        </form>
    </div>
{% endblock %}
