{% extends '::base.html.twig' %}
{% trans_default_domain "RUGCProgramacionCatarsisBundle" %}

{% block body -%}

    {% if mensaje=='' %}
        {% if  app.request.locale == 'es' %}            
            {{ entity.textoes | raw}}
        {% else %}
            {{ entity.textoen | raw}}
        {% endif%}
    {% else %}
        {{mensaje}}
    {% endif %}

    <ul class="record_actions">
        {% if is_granted('ROLE_ADMIN') %}

            {% if mensaje=='' %}
                <a class="link" href="{{ path('contenido_edit', { 'id': entity.id }) }}">
                    {{ 'form.submit_editar_contenido'|trans}}
                </a>
            {% endif %}

        {% endif %}
    </ul>

{% endblock %}