{# empty Twig template #}
<div id="menubar" class="s">
    <nav>
        <ul class="menu-horizontal">

            <!-- FOR QUE RECORRE TODAS LAS OPCIONES DE MENÚ -->
            {%  for opcion in entities %}

                <!-- SI LA OPCION TIENE SUBMENUS -->
                {% if  opcion.children %}

                    {%if opcion.permiso==0 %}
                        <li class="prin">
                            {% if opcion.ruta == 'contenido_show' %}

                                <a href="{{path(opcion.ruta, {'id':opcion.id})}}" title="Texto">{{opcion.nombreOpcionEn}}</a>
                            {%else%}
                                <a href="{{path(opcion.ruta)}}" title="Texto">{{opcion.nombreOpcionEn}}</a>
                            {% endif %}

                            <ul class="sub">

                                {%for subOpcion in opcion.children %}

                                    {%if subOpcion.permiso==0 %}
                                        <li>
                                            {% if subOpcion.ruta == 'contenido_show' %}
                                                <a href="{{path(subOpcion.ruta, {'id':subOpcion.id})}}">{{subOpcion.nombreOpcionEn | upper}}</a>
                                            {%else%}
                                                <a href="{{path(subOpcion.ruta)}}">{{subOpcion.nombreOpcionEn | upper}}</a>
                                            {% endif %}


                                        </li>
                                    {% else%}
                                        {%if is_granted('ROLE_ADMIN')%}
                                            <li>
                                                {% if subOpcion.ruta == 'contenido_show' %}
                                                    <a href="{{path(subOpcion.ruta, {'id':subOpcion.id})}}">{{subOpcion.nombreOpcionEn | upper}}</a>
                                                {%else%}
                                                    <a href="{{path(subOpcion.ruta)}}">{{subOpcion.nombreOpcionEn | upper}}</a>
                                                {% endif %}


                                            </li>
                                        {% endif %}

                                    {% endif %}
                                {%endfor%}

                            </ul>
                        </li>
                    {% else%}
                        {%if is_granted('ROLE_ADMIN')%}
                            <li class="prin">
                                {% if opcion.ruta == 'contenido_show' %}
                                    <a href="{{path(opcion.ruta, {'id':opcion.id})}}" title="Texto">{{opcion.nombreOpcionEn}}</a>
                                {%else%}
                                    <a href="{{path(opcion.ruta)}}" title="Texto">{{opcion.nombreOpcionEn}}</a>
                                {% endif %}


                                <ul class="sub">
                                    {%for subOpcion in opcion.children %}
                                        <li>
                                            {% if subOpcion.ruta == 'contenido_show' %}
                                                <a href="{{path(subOpcion.ruta, {'id':subOpcion.id})}}">{{subOpcion.nombreOpcionEn | upper}}</a>
                                            {%else%}
                                                <a href="{{path(subOpcion.ruta)}}">{{subOpcion.nombreOpcionEn | upper}}</a>
                                            {% endif %}
                                        </li>
                                    {%endfor%}

                                </ul>
                            </li>
                        {%endif%}
                    {% endif %}

                    <!-- SI LA OPCION NO TIENE SUBMENUS -->
                {%else%}
                    {%if opcion.permiso==0 %}
                        <li class="prin">
                            {% if opcion.ruta == 'contenido_show' %}
                                <a href="{{path(opcion.ruta, {'id':opcion.id})}}" title="Texto">{{opcion.nombreOpcionEn}}</a>
                            {%else%}
                                <a href="{{path(opcion.ruta)}}" title="Texto">{{opcion.nombreOpcionEn}}</a>
                            {% endif %}


                        </li>
                    {%else%}
                        {%if is_granted('ROLE_ADMIN')%}
                            <li class="prin">
                               {% if opcion.ruta == 'contenido_show' %}
                                 <a href="{{path(opcion.ruta, {'id':opcion.id})}}" title="Texto">{{opcion.nombreOpcionEn}}</a>
                            {%else%}
                                 <a href="{{path(opcion.ruta)}}" title="Texto">{{opcion.nombreOpcionEn}}</a>
                            {% endif %}
                               
                            </li>
                        {%endif%}
                    {%endif%}
                {% endif %}  <!-- FIN SI LA OPCION TIENE SUBMENUS -->
            {% endfor%} <!-- FIN FOR QUE RECORRE TODAS LAS OPCIONES DE MENÚ -->
        </ul>
    </nav>
</div> <!-- FIN DEL MENU -->