<div id="menubar" class="s">
    <nav>
        <ul class="menu-horizontal">
            {%  for opcion in entities %}
                {% if  opcion.children %}
                    {%if opcion.permiso==0 %}

                        <li class="prin"><a href="{{path(opcion.ruta, {'id':opcion.id})}}" title="Texto">{{opcion.nombreOpcion}}</a>
                            <ul class="sub">
                                {%for subOpcion in opcion.children %}
                                    {%if subOpcion.permiso==0 %}
                                        <li><a href="{{path(subOpcion.ruta, {'id':subOpcion.id})}}">{{subOpcion.nombreOpcion | upper}}</a></li>
                                        {% else%}

                                        {%if is_granted('ROLE_ADMIN')%}
                                            <li><a href="{{path(subOpcion.ruta, {'id':subOpcion.id})}}">{{subOpcion.nombreOpcion | upper}}</a></li>
                                            {% endif %}

                                    {% endif %}
                                {%endfor%}

                            </ul>
                        </li>
                    {% else%}
                        {%if is_granted('ROLE_ADMIN')%}
                            <li class="prin"><a href="{{path(opcion.ruta, {'id':opcion.id})}}" title="Texto">{{opcion.nombreOpcion}}</a>
                                <ul class="sub">
                                    {%for subOpcion in opcion.children %}

                                        <li><a href="{{path(subOpcion.ruta, {'id':subOpcion.id})}}">{{subOpcion.nombreOpcion | upper}}</a></li>
                                        {%endfor%}

                                </ul>
                            </li>
                        {%endif%}
                    {% endif %}
                {%else%}
                    {%if opcion.permiso==0 %}
                        <li class="prin"><a href="{{path(opcion.ruta, {'id':opcion.id})}}" title="Texto">{{opcion.nombreOpcion}}</a></li>
                        {%else%}
                            {%if is_granted('ROLE_ADMIN')%}
                            <li class="prin"><a href="{{path(opcion.ruta, {'id':opcion.id})}}" title="Texto">{{opcion.nombreOpcion}}</a></li>
                            {% endif %}
                        {% endif%}

                {% endif %}
            {% endfor%}
        </ul>
    </nav>
</div> <!-- FIN DEL MENU -->