<div id="menubar">
    <ul id="menu-horizontal">
        {%  for opcion in entities %}
            {% if opcion.id == 19%}
                <li><a href="{{path(opcion.ruta)}}" title="Texto">{{opcion.nombreOpcion}}</a>
                    <ul>
                        <li><a href="{{path('programacion')}}" title="Texto">PROGRAMACION ACTUAL</a></li>
                        <li><a href=""> BUSCAR</a></li>
                            {% if is_granted('ROLE_ADMIN') %}
                            <li><a href ="{{path('programacion_selectMonth')}}" title = "Texto">EDITAR</a></li>
                            {% endif %}

                    </ul>
                </li>
            {% else %}
                <li><a href="{{path(opcion.ruta, {'id':opcion.id})}}" title="Texto">{{opcion.nombreOpcion}}</a></li>

            {% endif%}
        {% endfor%}
    </ul>
</div>
