{% extends '::base.html.twig' %}
{% trans_default_domain "RUGCProgramacionCatarsisBundle" %}

{% block body -%}

    <div class="divTodo">
        <h1>{{ "form.Titulo.titulo_Enlaces"|trans }}</h1>

        {% for entity in entities %}
            <div class="divEnlacesContenedor">
                <p>
                    {{ entity.descripcion }}
                    <br>
                    <a style="word-wrap: break-word;" href="http://{{entity.enlace}}" target="_blank">{{entity.enlace}}</a>
                </p>
                {% if is_granted('ROLE_ADMIN') %}
                    <a class="EnlacesEditar" href="{{ path('enlace_edit', { 'id': entity.id }) }}">{{'form.submit_editar'| trans}}</a>
                {% endif %}
            </div>
        {% endfor %}

        <div class="paginacion">
            {{ knp_pagination_render(entities) }}
        </div>
    </div>

{% endblock %}