{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Editar Noticia</h1>
    <div class="validaciones">
        {{ form_start(edit_form) }}
        {{form_row(edit_form.titulo)}}
        {{form_row(edit_form.autor)}} 
        {{form_row(edit_form.estado)}}
        {{form_row(edit_form.resumen)}}

        <div class="areaTexto">
            {{form_row(edit_form.contenido)}}
        </div>
        {{ form(edit_form)}}

        {{ tinymce_init() }}
        {{ form_end(edit_form) }}
    </div>
{% endblock %}
