{% extends '::base.html.twig' %}
{% trans_default_domain "RUGCProgramacionCatarsisBundle" %}

{% block body -%}
    <div class="divTodo">
        <h1>{{ "form.Titulo.titulo_Noticia"|trans }}</h1>

        {% for entity in entities %}
            <div class="divNoticiaResumen">
                <label>{{ entity.autor }} | {% if entity.fecha %}{{ entity.fecha|date('d-m-Y H:i:s') }}{% endif %}</label>

                <h3><a href="{{ path('noticia_show', { 'id': entity.id }) }}">{{ entity.titulo }}</a></h3>
                <br>

                <div class="divNoticiaResumenTexto">
                    {{ entity.resumen }}...
                </div>

                    <a href="{{ path('noticia_show', { 'id': entity.id }) }}">{{'form.submit_ver_mas'|trans}}</a>
            </div>
        {% endfor %}
    </div>

{% endblock %}
