{% extends '::base.html.twig' %}

{% block body -%}

    <div class="divNoticia">
        <label>{{ entity.autor }} | {% if entity.fecha %}{{ entity.fecha|date('d-m-Y H:i:s') }}{% endif %}</label>
        <h1>{{ entity.titulo }}</h1>
        {{ entity.contenido | raw }}                

    </div>
    <a  href="{{ path('noticia') }}"><input class="enlaceIzq" type="button" value="Ver todas las noticias"/></a>

    {%if is_granted('ROLE_ADMIN')%}
        <a href="{{ path('noticia_edit', { 'id': entity.id }) }}"><input class="btnDer" type="button" value="Editar"/></a>

        {{ form(delete_form) }}
    {% endif %}

{% endblock %}
